@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 300;
  src:
       url("../fonts/roboto-v20-latin-300.woff2") format("woff2"),
       url("../fonts/roboto-v20-latin-300.woff") format("woff"),
}

@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src:
       url("../fonts/roboto-v20-latin-regular.woff2") format("woff2"),
       url("../fonts/roboto-v20-latin-regular.woff") format("woff"),
}

@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src:
       url("../fonts/roboto-v20-latin-500.woff2") format("woff2"),
       url("../fonts/roboto-v20-latin-500.woff") format("woff"),
}

@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src:
       url("../fonts/roboto-v20-latin-700.woff2") format("woff2"),
       url("../fonts/roboto-v20-latin-700.woff") format("woff"),
}